<div class="article__scope">
    <div class="container">
        <div class="card card--article card--media">
            <div class="card__media">
                <img src="public/images/school-supplies.jpg" alt="school-supplies"/>
            </div>
            <div class="card__title">
                <h1>D23 2015: Kingdom hearts 3 adds big hero 6 world</h1>
                <p>Baymax's story continues with Sora and friends.</p>
            </div>
            <div class="card__content">
                <p>Square Enix and Disney have announced that Big Hero 6 is coming to Kingdom Hearts III. The San Fransokyo setting as well as Baymax and other characters will continue the Big Hero 6 story in Tetsuya Nomura’s upcoming role-playing game.

                    “Big Hero 6 is such a special film for me,” said film producer Ray Conli, “and we always made sure that each action sequence had a very special meaning. The themes in Kingdom Hearts and Big Hero 6 match very well. For instance there’s friendship, really important to both stories, and then of course light over darkness.”

                    Kingdom Hearts III will “continue the events of the film” as Baymax joins Sora’s story. It’s unclear how or if any Big Hero 6 characters will play a role in Sora’s party.</p>
            </div>
        </div>
    </div>
</div>