<div class="home__scope">
    <div class="container">
        <div class="card card--media" ui-sref="article">
            <div class="card__media">
                <img src="public/images/school-supplies.jpg" alt="school-supplies"/>
            </div>
            <div class="card__title">
                <h1>D23 2015: Kingdom hearts 3 adds big hero 6 world</h1>
                <p>Baymax's story continues with Sora and friends.</p>
            </div>
        </div>

        <div class="card-list">
            <div class="card card--thumb" ng-click="active = !active" ng-class="{'card--active': active}">
                <div class="card__thumbnail">
                    <img src="public/images/school-supplies.jpg" alt="school-supplies"/>
                </div>
                <div class="card__title">
                    <h1>Raise your hand if you color coded your school supplies</h1>
                    <p>Math is the red folder. English is the blue folder.</p>
                </div>
            </div>
        </div>
    </div>
</div>